<label for="{{id}}-select-on" class="col-form-label col-auto">{{title}}</label>
<div class="col-auto btn-group" id="{{id}}-buttons" data-toggle="buttons">
    <label class="btn btn-outline-secondary active">
        <input type="radio" name="{{id}}" id="{{id}}-select-on" autocomplete="off" checked>On
    </label>
    <label class="btn btn-outline-secondary">
        <input type="radio" name="{{id}}" autocomplete="off" id="{{id}}-select-off">Off
    </label>
</div>
